<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="yahh.. this is just a hobby">
    <link rel="stylesheet" href="../assets/vendors/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="../assets/vendors/sweetalert2/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../assets/css/view.css">
    <title>Huawei e5573</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <!-- <a href="/" class="brand-logo center">XL Axiata</a> -->
                <ul class="left">
                    <li><a href="#" data-target="slide-out" class="sidenav-trigger"
                            style="display: block !important;"><i class="material-icons">menu</i></a></li>
                </ul>
                <ul class="right">
                    <li><span>XL Axiata</span></li>
                    <!-- <li><i class="material-symbols-outlined">signal_cellular_0_bar</i></li>
                    <li><i class="material-symbols-outlined">signal_cellular_1_bar</i></li>
                    <li><i class="material-symbols-outlined">signal_cellular_2_bar</i></li> -->
                    <li><i class="material-symbols-outlined">signal_cellular_3_bar</i></li>
                    <!-- <li><i class="material-symbols-outlined">signal_cellular_4_bar</i></li> -->
                    <!-- <li><i class="material-symbols-outlined">3g_mobiledata</i></li>
                    <li><i class="material-symbols-outlined">4g_mobiledata</i></li> -->
                    <li><i class="material-symbols-outlined">4g_plus_mobiledata</i></li>
                    <!-- <li><i class="material-symbols-outlined">battery_0_bar</i></li>
                    <li><i class="material-symbols-outlined">battery_1_bar</i></li>
                    <li><i class="material-symbols-outlined">battery_2_bar</i></li>
                    <li><i class="material-symbols-outlined">battery_3_bar</i></li>
                    <li><i class="material-symbols-outlined">battery_4_bar</i></li> -->
                    <li><i class="material-symbols-outlined">battery_5_bar</i></li>
                    <!-- <li><i class="material-symbols-outlined">battery_full</i></li>
                    <li><i class="material-symbols-outlined">battery_charging_20</i></li> -->

                </ul>
            </div>
        </nav>

    </div>
    <ul id="slide-out" class="sidenav">

        <li>

            <a class="sidenav-close right" style="padding: 0px 2px 0px 2px !important; z-index: 9999;" href="#!"><i
                    class="material-icons" style="margin: 0px !important;">chevron_left</i></a>
            <div class="user-view center" style="position:inherit !important ;">

                <p class="black-text name" style="margin: 0 !important;">ADMIN</p>
            </div>
        </li>

        <li>
            <div class="divider"></div>
        </li>
        
        
        <li><a class="waves-effect" href="/">Home</a></li>
        <li><a class="waves-effect" href="#!">USSD</a></li>
        <li><a class="waves-effect" href="#!">Phone Book</a></li>
        <li><a class="waves-effect" href="#!">SMS</a></li>
        <li><a class="waves-effect" href="#!">Settings</a></li>
        <li><a class="waves-effect" href="#!">Logout</a></li>

    </ul>
    



    <div class="container">

        <div class="row">
            <div class="col s12">
              <div class="card">
                
                <div class="card-content">
                  <div class="row">
                    <div class="col s12">
                        <h3 class="center carrier-name">Unknown</h3>
                    </div>
                    <div class="col s12">
                        <div class="row d-flex align-items-center">
                            <div class="col s6 d-flex flex-row">
                                <span><i class="material-symbols-outlined signal-indicator">signal_cellular_3_bar</i></span>
                                <span class="material-symbols-outlined" style="font-size: 50px;">4g_plus_mobiledata</span>
                                
                            </div>
                            <div class="col s6 d-flex flex-column">
                                <h5>Data Connected</h5>
                                <h6>Duration : 01:23:59</h6>
                                <h6>Up/Down : 12MB/50.2MB</h6>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        
          <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
            

                            <div class="col s12">
                                <div class="row ">
                                    <div class="col s6"><d>Band : 40</d></div>
                                    <div class="col s6"><p>Signal Strength : -109 dBm</p></div>
                                    <div class="col s6"><p>MNC : 10</p></div>
                                    <div class="col s6"><p>MCC : 510</p></div>
                                    <div class="col s6"><p>Cell ID : 309914895</p></div>
                                    <div class="col s6"><p>RSSI : -78.5 dBm</p></div>
                                    <div class="col s6"><p>SINR : 10.2 dB</p></div>
                                    <div class="col s6"><p>RSRP: -110 dBm</p></div>
                                    <div class="col s6"><p>RSRQ: -10.0 dB</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        
        
        
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue">
          <i class="large material-icons">touch_app</i>
        </a>
        <ul>
          <li><a class="btn-floating red btn-pwr"><i class="material-icons">power_settings_new</i></a></li>
          <li><a class="btn-floating yellow darken-1"><i class="material-icons">restart_alt</i></a></li>
          <li><a class="btn-floating green"><i class="material-icons">cell_tower</i></a></li>
          
          
        </ul>
    </div>

    

    <script src="../assets/vendors/jquery-3.6.0/jquery-3.6.0.js"></script>
    <script src="../assets/vendors/materialize/js/materialize.js"></script>
    <script src="../assets/vendors/momentjs/moment.min.js"></script>
    <script src="../assets/vendors/sweetalert2/sweetalert2.min.js"></script>
    <script src="../assets/js/view.js"></script>
</body>

</html>